# Enviroment variables
.env

# IDE files
.vscode

# Source material
sources.txt

# Misc
image_recognition.py
src/credentials.py
src/__pycache__
Tools/credentials.py

# Compilation output
*.exe
*.pyc
studyBotCLI.spec
studyBotGUI.spec
dist
build