# IDE files
.vscode

# Misc
image_recognition.py
src/credentials.py
Tools/credentials.py
Tests/AudioInteraction/credentials.py
*/__pycache__
Tests/AudioInteraction/__pycache__

# Compilation output
Bin
*.exe
*.pyc
studyBotCLI.spec
studyBotGUI.spec
dist
build